.containerFoot{
    background-color: rgba(178, 164, 164, 0.777);
    
}

.container-Footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoFooter{
    text-align: center;
}

.logo{
    width: 70px;
    height: 70px;
    
}

.container1{
    text-align: right;
    margin-right: 2%;
}
.container2{
    text-align: left;
    margin-left: 2%;
}