*{
    padding: 0;
    margin: 0;
    
}

.containerHome{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 100%;
    background-color: rgb(76, 71, 71);
    /* background-image: linear-gradient(rgba(1, 0, 1, 0.2),rgba(1, 1, 1, 1)), url("C:\Users\User\Desktop\Project\IceCreamShop\IT32322024IceCreamshop\front_icecreamshop\src\Images\HomeBackG.png"); */
    
}
.HomeImage{
    width: 650px;
    height: 550px;
    margin-top: 40px;
    margin-left: 15%;
}


.rightContainer{
    text-align: center;
    margin-top: 30px;
    margin-right: 10%;
    margin-top: -5%;
}
.heading{
    font-size: 50px;
    color: rgb(235, 197, 72);
    font-family: 'Comic Sans MS';
}
.tagline{
    font-size: 30px;
    color: antiquewhite;
    font-family: 'Harrington';
}

.ButtonTry{
    border: 0;
    padding: 10px 10px;
    width: 150px;
    background-color: rgb(241, 198, 57);
    border-radius: 15px;
    font-size: 18px;
    color: rgb(72, 57, 57);
}

.iconSocial{
    color: white;
    text-align: center;
    margin-bottom: 30px;
    
}
.IconsHome{
    width: 35px;
    height: 35px;
    margin-right: 25px;
}